# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
runs
/tmp
/ReferenciasExternas
ReplayMod_Analise_Tecnica_Compatibilidade.txt
*.bin
*.lock
/.gradle-user-home
*.txt
/neoforge_exemplo
/neoforge/.eclipse/configurations/NeoForge Client (
/neoforge/.eclipse/configurations/NeoForge Data (
/neoforge/.eclipse/configurations/NeoForge Server (
/TEMP
/nuvens-implementacao-2.6.0-base
/ClockResources/*
