# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle
/.gradle-user/*

# other
eclipse
run
runs
/.gradle-user/caches/9.4.1/transforms/4b707a966fd4e2d7b217fc9d77ea40ca/transformed/.gradle-agent-instrumented.marker
